.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
